GEMINI_API_KEY=
FIREBASE_API_KEY=
GOOGLE_PLAY_CLIENT_EMAIL=
GOOGLE_PLAY_PRIVATE_KEY=
RAPID_API_KEY=542dce7198130662e8dd49b345591dec556b37394cc9a0e3dd0010d5f1354075
SERP_API_KEY=542dce7198130662e8dd49b345591dec556b37394cc9a0e3dd0010d5f1354075
TELEGRAM_BOT_TOKEN=
TRAVELPAYOUTS_API_KEY=f77e4ddba522db919bc7415359d7c892
VITE_SUPABASE_ANON_KEY=sb_publishable_HemiQ7Dam7pBIao2VnMxgw_cJqgx0jU
VITE_SUPABASE_URL=sb_secret_TvX42GXLwyhtgoj2Mvv2Gg_n4X_BKTI
DODO_PAYMENTS_API_KEY=KwEZwcXwc9m3u0cm.SWqtO2Ar7RA-QQM28_4HdYE3x0uVt9sW7e-DZrbymKec03lf
DODO_PAYMENTS_WEBHOOK_KEY=whsec_evNlKJ9SlOvNsF2GpP40of8NxgSQnnlh
DODO_PAYMENTS_ENVIRONMENT=live_mode
DODO_PAYMENTS_RETURN_URL=https://buywiser.store/premium/success