SERP_API_KEY=542dce7198130662e8dd49b345591dec556b37394cc9a0e3dd0010d5f1354075
RAPID_API_KEY=3e167ad9bbmsh95ca52b19b0e036p16fc46jsnb45a4038705c'
TELEGRAM_BOT_TOKEN=8654463361:AAG1zaFwPSn6EgRupkTAMROdQcnzg3CCMU8
VITE_SUPABASE_ANON_KEY=sb_publishable_HemiQ7Dam7pBIao2VnMxgw_cJqgx0jU
VITE_SUPABASE_URL=https://rymqndkihibagvnmlsle.supabase.co
GEMINI_API_KEY=AQ.Ab8RN6KzVnGWSpfeclLfz5Llcru-gWlsS1GJI03nr8qThwbfTw
FIREBASE_API_KEY=